<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.weiwei.practice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <permission
        android:name="com.weiwei.practice.androidart.chapter_2.permission.ACCESS_BOOK_SERVICE"
        android:protectionLevel="normal" />

    <uses-permission android:name="com.ryg.chapter_2.permission.ACCESS_BOOK_SERVICE" />

    <application
        android:name=".PracticeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.DailyPractice"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".room.ui.RoomActivity"
            android:label="@string/title_room" />

        <activity android:name=".adb.AdbTestActivity" />

        <activity android:name=".widget.LinearGradientActivity" />

        <activity android:name=".activity.task.TaskTestActivity" />

        <activity android:name=".lifecycle.LifeActivity" />

        <activity android:name=".lifecycle.sample.SampleLifeSecondActivity" />

        <activity android:name=".lifecycle.view.LifecycleViewActivity" />

        <activity android:name=".lifecycle.sample.SampleLifeActivity" />

        <activity android:name=".jetpack.TestLiveDataObserverActivity" />

        <activity android:name=".gesture.GestureDetectorActivity" />

        <activity android:name=".asyncui.AsyncUiActivity" />

        <activity android:name=".PracticeActivity" />

        <activity android:name=".animator.AnimatedVectorActivity" />

        <activity android:name=".binding.BindingActivity" />

        <activity android:name=".cockroach.NoCrashActivity" />

        <activity android:name=".memoryleak.LeakTestActivity" />

        <activity
            android:name=".binder.TransactionTooLargeActivity"
            android:process=":remote" />

        <activity android:name="com.weiwei.practice.androidart.chapter_2.BookActivity" />

        <service
            android:name="com.weiwei.practice.androidart.chapter_2.BookService"
            android:process=":remote" />

        <activity android:name="com.weiwei.practice.androidart.chapter_2.messenger.MessengerActivity" />

        <service
            android:name="com.weiwei.practice.androidart.chapter_2.messenger.MessengerService"
            android:process=":remote" />

        <activity android:name=".guide.navigation.basic.NavigationBasicActivity" />

        <activity android:name=".viewevent.ViewEventActivity" />
    </application>

</manifest>